@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Sofia+Sans+Condensed&display=swap');

:root {
    /* change the values below to your colors from your palette; TODO:GET RID OF UNECESSARY VARIABLES*/
    --primary-color: #6b4b3e   ;
    --secondary-color: #2d4739 ;
    --accent1-color: #ECDCC1;
    --accent2-color: #81917D;

    /* change the values below to your chosen font(s) */
    --heading-font: "Patua One";
    --paragraph-font: "Sofia Sans Condensed", Helvetica, sans-serif;

}
*{
    font-family: var(--paragraph-font);
}

/* -----------DEFAULTS----------- */
/* setting "defaults" for the page */
body{ /* Will seperate later when needed*/
    
    background-color: var(--accent1-color);
    text-align: center;
    margin: 0;
    margin: 0 auto;
    padding: 0;
}
body div, a{ /* Will seperate later when needed*/
    
    background-color: var(--accent1-color);
    text-align: center;
    margin: 0 auto;

    /* Set text decoration to be off by default */
    text-decoration: none;

    /* Set max width of the ID:content div containing all body content */
    max-width: 1600px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
h2{
    margin: 0;
}


/* -----------LOGO & HEADER----------- */
header{
    text-align: left; /*Logo was moved to the left side to complement the smaller size; TODO: Move back to center if the small size is not required in future*/
    background-color: var(--accent1-color);
}
header a{
    margin: 0 0 0 auto;
}
.logo{
    height: 80px; /* Unsure if this is correct, the size seems too small; Original size 400px TODO: Ask prof if this is correct*/

}
#logo_link{
    padding-top: 5px;
}

/* -----------NAVIGATION BAR----------- */
nav{
    background-color: var(--secondary-color);
    padding: 5%;
    line-height: 2em;
}
nav a{
    font-family: var(--paragraph-font);
    /* font-weight: bold; */
    display: inline;
    font-size: 25px;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 35px;/* padding: 0% 5%; */
    margin: 1%;
    text-align: center;
    color: var(--accent1-color);
    background-color: var(--secondary-color);
    /* word-break: break-all; */
    white-space: nowrap;
}
nav a:hover{
    font-family: var(--paragraph-font);
    /* font-weight: bold; */
    font-size: 25px;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 35px ;/* padding: 2% 5%; */
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--accent2-color) ;
    border-radius: .5em;
}
span{
    padding: 1%
}




/* -----------HERO CARD/DIV-----------*/

#hero{
    margin-top: 1%;
}

#hero-img{
    width: 100%;
}

#hero-msg{
    margin: 0 auto;
    width: 39%;
    text-align: left;
    float: none; /*change to 'float: right;' to move box back to right of #hero-img */
    font-style: italic;
    background-color: var(--accent1-color);
    border-radius: .5em;
}
.home-title{
    padding: 1% 0% 0% 2%;
    margin: 10px;/* margin: 0 0; /*Unsure why I have to specify this here; Was the margin inherited?? From where??*/
    text-align: left;
    color: black;
    font-size: 2em;
}
#hero h4{
    padding: 0% 0% 0% 2%;
    color: black;
}
.button-box{
    /* This padding gives me space to increase the size of the .book button/link however once I figure out how to use the button element I won't need this */
    padding: 3% 0; /*TODO: Remove this and turn the div and href [in the index.html file] into a button element*/
    text-align: right;
}
.book{
    color: var(--accent1-color);
    background-color: var(--secondary-color);
    padding: 2% 5%; /* This causes the booking button to expand beyond the bouding #hero-msg section without the padding mentioned in the .button-box section*/
    margin: 1%;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 18px;
    padding: 15px 30px;
}
.book:hover, .join:hover{
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    font-size: 18px;
}
#hero-box{
    margin-top: 1%;
}

/* TODO:Add other sections */
/* TODO:Size photos in sections to percentages to make page responsive*/
/*-------------------- CARDS --------------------*/
.card-img{
    border: 10px solid #d9c2a3;
}
main section img{
    box-sizing: border-box;
}
/* -----------CAMPING/MOUNTAIN CARD-----------*/
#background{
    height: 725px;
    background-color: var(--primary-color);    
}
.camping-card{
    margin: 200px 0;
}

/* -----------RIVERS SECTION-----------*/
.join{
    color: var(--accent1-color);
    background-color: var(--secondary-color);
    padding: 0% 1%;
    border-radius: 5px;/*.3em;*/
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
.rivers-card{
    margin: 200px 0;
}

/* -----------MOUNTAINS SECTION-----------*/
.mountains{
    display: block;
    text-align: left;
    margin: 0 0;
}

/* -----------RAPIDS CARD----------- */
.rapids-card{
    margin: 200px 0;
}
/* -----------FOOTER-----------*/
/* TODO:Remove redundant color declarations eventually */
footer{
    padding: 25px 50px;
    text-align: left;
    background-color: var(--accent1-color);
    margin-top: 200px;
}
footer div{
    text-align: left;
    background-color: var(--accent1-color);
}
footer a{
    color: black;
}
footer p a:hover{
    color: black;
    text-decoration: underline;
}
footer p{
    font-size: 1.2em;
}
footer .social img{
    padding-top: 15px;
}
.msg{
    background-color: var(--accent1-color);
    color: black;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: black
}
.msg p{
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}