:root{
    font-family: 'Courier New', Courier, monospace;
    max-width: 1300px;
}
*{
    /* margin: 0 auto 0 auto; */
    /* margin: 0; */
    padding: 0;
}
nav{
    margin: 0 auto;
    text-align: center;
    padding:.5% 0%;
    box-sizing: border-box;
    margin-bottom: 5%;
}
li{
}
img{
    margin: 0 auto;
    border-radius: 1em;
    float: right;
    margin: 0% 1%;
    object-fit: auto;
    max-width: 10%;
}
nav a{
    text-align: center;
    padding: 1em;
    background-color: black;
    color: white;
    border: white 2px solid;
}
nav a:hover{
    padding: 1em;
    background-color: white;
    color: black;
    border: black 2px solid;
}